/*
  # © European Communities, 2002-2009 http://europass.cedefop.europa.eu
  # http://europass.cedefop.europa.eu/europass/home/botnav/LegalNotice.csp
  # Purpose:		Stylesheet to format Europass CV and Europass LP in HTML format.
  # Author(s):	Europass team
  # Saved from:	http://europass.cedefop.europa.eu/instruments/css/html.css
*/
/* CSS Document */
/*
body {
	font-family:"Arial Narrow";
	font-size: 10pt;
	color:#333333;
	padding:0px;
}
table{
	border-collapse:collapse;
}
blockquote {
	font-size:8pt;
	margin:6px;
}

pre {
  font-family:"Arial Narrow";
  10pt;
}
*/

DIV.VerLine {
	width:700px;
	background-image:url(cv_verline.gif);
	background-repeat:repeat-y;
	background-position:185px;
}

.CV {
	font-family:"Arial Narrow";
	color:#333333;
	padding:0px;
	margin:0px;
}
.CV .Normal {
	font-size:10pt;
	text-align:left;
	padding:4px;
	vertical-align: top;
}
.CV .NormalSmall {
	font-size:8pt;
	text-align:center;
	padding:2px;
	border:1px solid #333;
}
.CV .Title {
	font-size:14pt;
	text-align:right;
	font-weight:bold;
	padding:4px;
}
.CV .Title .Small {
	font-size:10pt;
}
.CV .Label {
	font-size:10pt;
	text-align:right;
	padding:4px;
	vertical-align: top;
}
.CV .Heading1 {
	font-size:12pt;
	text-align:right;
	font-weight:bold;
	padding:4px;
	vertical-align: top;
}
.CV .Heading1Box {
	font-size:12pt;
	text-align:right;
	font-weight:bold;
	padding:4px;
	/*background-color:#fff;*/
/*
	border-left:1px solid #333;	
	border-top:1px solid #333;	
	border-bottom:1px solid #333;	
*/	
}
.CV .Heading2 {
	font-size:11pt;
	text-align:left;
	font-weight:bold;
	padding:4px;
}
.CV .Heading2Center {
	font-size:11pt;
	text-align:center;
	font-weight:bold;
	padding:2px;
	border:1px solid #333;	
}
.CV .VerticalLine {
	width:8px;
	padding:0px;
	margin:0px;
	border-right: 1px solid black;
}
.CV .VerticalLineBox {
	width:8px;
	padding:0px;
	margin:0px;
	border-right: 1px solid black;
/*	
	background-color:#fff;	
	border-top:1px solid #333;	
	border-bottom:1px solid #333;
*/
}
.CV .Corner {
	width:8px;
	height:12px;
	padding:0px;
	margin:0px;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

.CV .Logo {
	/*background-image:url(logo_for_htmlpreview.gif);*/
	background-image:url(../../../../images/logo_europass_lp.gif);
	/*background-position:right;*/
	background-position:center;
	background-repeat:no-repeat;
	padding:4px;
	margin:0px;
}
.CV .HorLinesBottom {
	font-size:10pt;	
	border-bottom:1px dotted #CCC;
	padding:4px;
}
.CV .HorLinesTop {
	font-size:10pt;	
	border-top:1px dotted #CCC;
	padding:4px;
}
.CV input {
	color:#333;
	padding:1px;
	margin:0px;
}
.CheckBoxes {
	border-left:1px solid #333;
	padding:0px 0px 0px 4px;
	text-align:center;
}
.CheckBoxes_LP {
	padding:0px 0px 0px 4px;
	text-align:center;
}
.buttons {
	color:#333;
	border:1px outset #ccc;
	background-color:#fff;
	background-image:url(bg_win4.jpg);
	background-repeat:no-repeat;
	padding:2px;
	margin:0px;
}

DIV.VerLine_LP {
	width:710px;
	border:1px solid #333;
	padding-top:6px;
	padding-bottom: 6px;
}
.LP {
	font-family:"Arial Narrow";
	color:#333333;
	padding:0px;
	margin:0px;
}
.LP .Normal {
	font-size:10pt;
	text-align:left;
	padding:4px;
	border: 1px solid #ccc;
}
.LP .NormalCenter {
	font-size:10pt;
	text-align:center;
	padding:4px;
	border: 1px solid #ccc;  
}
.LP .NormalHighlight {
	font-size:11pt;
  font-weight: bold;
	text-align:center;
	padding:4px;
	border: 1px solid #333;
}
.LP .Label {
	font-size:11pt;
	text-align:right;
	padding:4px;
}
.LP .LabelBold {
	font-size:12pt;
	text-align:right;
	padding:4px;
	font-weight:bold;
}
.LP .GridHeading {
	font-size:10pt;
	text-align:center;
	padding:2px;
}
.LP .GridHeadingBold {
	font-size:11pt;
	text-align:center;
	padding:2px;
	font-weight:bold;
}
.Asterix {
	width:710px;
	font-size:9pt;
}
.Footnote {
	width:710px;
	font-size:9pt;
	border: 1px solid #333;
}

.Grid {
	width:710px;
	font-size:8pt;
	text-align: left;
}
.Grid tr.spacer td {
	border: 0;
	padding: 0;
	margin:0;
}
.Grid td {
	border: 1px solid #333;
	vertical-align: top;
	padding-left: 1px;
}
.Grid th {
	text-align: center;
	font-size: 10pt;
	font-weight: normal;
	border: 1px solid #333;
}
.Grid th.title {
	font-weight: bold;
	border: 0;
}
.Grid tr.subheader td {
	text-align: center;
	font-size: 9pt;
}
.Grid tr.level th {
	font-weight: bold;
}